body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #f2f2f2;
 }

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}


li {
  list-style: none;
}


.white-back {
  max-width: 1200px;
  min-width: 640px;
  height: 100%;
  margin: 0 auto;

  background-color: white;
	box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.inner {
  position: relative;
}

.logo-of-sedona {
  position: absolute;
  width: 138px;
  height: 71px;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
  z-index: 10;
  background: url("../img/logo.png") no-repeat;
}

.main-navigation {
  height: 56px;
  margin: 0 6%;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.site-navigation li {
  font-size: 14px;
  width: 25%;
  line-height: 26px;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: normal;
}

.site-navigation li:nth-child(2) {
    margin-right: 90px;
  }

.site-navigation a {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.site-navigation li:first-child{
  text-align: left;
}

.site-navigation li:nth-child(2){
  text-align: left;
}
  
.site-navigation li:nth-child(3){
  text-align: right;
  letter-spacing: 0.3px;
}

.site-navigation li:last-child{
 text-align: right;
}

.site-navigation .active a {
  color: #766357;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.welcome-to-Sedona {
	text-align: center;
}

.main-back {
  background-image: url("../img/background3.jpg");
  background-position-y: -60px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 71px;
  margin: 0;
}

.main-back-logo {
  padding-top: 76px;
}

.welcome-to-Sedona::after {
  content: url(../img/polygon-1.png);
  position: absolute;
  left: 158px;
  top: 506px;
  height: 59px;
}

.page-index {
  background-image: url("../img/white1.png");
  width: auto;
  height: auto;
}

.recommendation-item {
  width: 300px;
  height: 185px;
  text-align: center;
}

.recommendation h3 {
	font-size: 21px;
	line-height: 26px;
}

.recommendation-item-2 {
  width: 300px;
  height: 185px;
  text-align: center;
}

.recommendation-item-3 {
  width: 300px;
  height: 185px;
  text-align: center;
}

.recommendation-list {
	margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}

.recommendation-item h3 {
	font-size: 21px;
  font-weight: bold;
  line-height: 21px;

  margin: 0;
  padding-top: 22px;
}

.recommendation-item-2 h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;

  margin: 0;
  padding-top: 24px;
}

.recommendation-item-3 h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;

  margin: 0;
  padding-top: 18px;
}

.index-columns-1 {
	background-image: url("../img/white1.png");
	padding-top: 60px;
  padding-bottom: 87px;
}

.description {
	height: 216px;
	width: auto;
  text-align: center;
}


.description-title-1 {
	width: 450px;
  height: 48px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.1px;

  margin: 0 auto;
  padding-top: 61px;
  }

.description-title-2 {
	width: 500px;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0.1px;

  margin: 0 auto;
  padding-top: 32px;
}

.reason-item-1 {
	display: flex;
  flex-direction: row-reverse;
	width: 100%;
}

.reason-1 {
  background-image: url("../img/reason-1-blue.jpg");
	width: 100%;
	text-align: center;
	color: #ffffff;
  padding: 46px 55px 58px 55px;
}

.reason-title-1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 0.2px;
  padding: 0 70px;
  margin: 0;
}

.nubmer {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.reason-title-about {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
  margin: 0;
  padding-top: 20px;
}

.number {
  margin: 0;
  padding-top: 24px;
}

.recommendation-reason {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  padding-top: 24px;
  letter-spacing: 0.1px;
}

.recommendation-reason-2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  padding-top: 24px;
  letter-spacing: 0.1px;
}

.recommendation-reason-3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  padding-top: 24px;
  letter-spacing: 0.1px;
}

.reason-item-2 {
  display: flex;
  flex-direction: row;
	width: 100%;
}

.reason-2 {
  background-image: url("../img/reason-1-blue.jpg");
	width: 100%;
	text-align: center;
	color: #ffffff;
	padding: 45px 40px 65px 40px;
}

.reason-title-2 {
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.2px;
  padding: 0 70px;
  margin: 0;
}

.index-columns-2 {
	margin-top: -7px;
}

.index-columns-2 h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  margin: 0;
}

.reason-item-3 {
	background-image: url("../img/grey-back.jpg");
	margin: 0;
  padding: 0;
  width: 400px;
  height: 256px;
}

.reasons-list {
  width: 100%;
	margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}

.reason-3 {
	width: 208px;
  height: 143px;
  position: absolute;
  padding-left: 95px;
  padding-top: 48px;
  padding-right: 92px;
  text-align: center;
}

.reason-4 {
	width: 262px;
  height: 142px;
  position: absolute;
  padding-left: 69px;
  padding-top: 47px;
  padding-right: 69px;
  text-align: center;
}

.reason-5 {
	width: 250px;
  height: 142px;
  position: absolute;
  padding-left: 75px;
  padding-top: 48px;
  padding-right: 75px;
  text-align: center;
}

.title-about-1 {
  font-size: 14px;
  line-height: 21px;

  margin: 0;
  padding-top: 19px;
}

.title-about-2 {
  font-size: 14px;
  line-height: 21px;

  margin: 0;
  padding-top: 19px;
}

.title-about-3 {
  font-size: 14px;
  line-height: 21px;

  margin: 0;
  padding-top: 18px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.modal .modal-description {
  background: white;
  width: 100%;
  min-height: 205px;
  text-align: center;
  z-index: 500;
}

.modal .modal-description .modal-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin: 51px 0 25px;
}

.modal .modal-description .modal-reason {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  padding: 0 30px 0 29px;
}

.modal .modal-form > .btn-search{
  display: flex;
  width: 458px;
  height: 58px;
  justify-content: center;
}

.modal .modal-form .btn-search .btn {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #81B3D2;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  color: white;
}

.modal > .modal-search {
  display: flex;
  width: 100%;
  justify-content: center;
}

.modal > .modal-search .btn {
  width: 568px;
  min-height: 87px;
  padding: 0;
  border: none;

  font-size: 21px;
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
  outline: none;
  letter-spacing: normal;
  text-transform: uppercase;

  color: white;
  background-color: #766357;

  z-index: 1000;
}

.modal > .modal-search .btn:hover {
  background: #604e43;
}

.modal > .modal-search .btn:active {
  background: #503e33;
  color:#818181;
}

.modal .modal-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 568px;
  height: 395px;
  background-color: white;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  animation: move 1.5s;
}

.modal .modal-form > div {
  display: flex;
  margin: 0 55px;
  position: relative;
}

.modal .modal-form .input {
  width: 331px;
  height: 38px;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  
  padding: 0 15px;
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 29px;
}

.modal .modal-form input[type="text"]::placeholder {
  color: #000000;
}

.modal .modal-form input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.modal .modal-form .label-date {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.5px;
  min-width: 110px;
  min-height: 26px;
  margin: 5px 0 4px;
}

.modal .modal-form .date-on {
  margin-top: 55px;
}

.label {
  padding-top: 8px;
}

.child {
  padding-left: 17px;
}

.input {
  outline: none;
}

.modal .modal-form .date-on .input:hover {
  background-color: #ebebeb;
}

.modal .modal-form .date-off .input:hover {
  background-color: #ebebeb;
}

.modal .modal-form .date-on .input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.modal .modal-form .date-off .input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.modal .modal-form .date-on a, 
.modal .modal-form .date-off a {
  position: absolute;
  left: 94%;
  top: 8px;
  width: 21px;
  height: 23px;
  fill: #818181;
}

.modal .modal-form .date-on a:hover,
.modal .modal-form .date-off a:hover {
  fill: black;
}

.modal .modal-form .date-on a:active,
.modal .modal-form .date-off a:active {
  fill: #81b3d2;
}

.modal .modal-form .peoples > div {
  display: flex;
  width: 50%;
  margin-bottom: 25px;
}

.modal .modal-form .peoples .label {
  width: 110px;
}

.modal .modal-form .peoples .input {
  padding: 0;
  width: 50%;
  text-align: center;
}

.modal .modal-form .peoples .childs .label {
  text-align: center;
}
.modal .modal-form .peoples a,
.modal .modal-form .peoples .input {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
} 

.modal .modal-form .peoples a {
  height: 31px;
  font-size: 24px;
  text-align: center;
  padding-top: 7px;
  color: #818181;
}

.modal .modal-form .peoples a:hover {
  color: black;
}

.modal .modal-form .peoples a:active {
  color: #81b3d2;
}

.modal .modal-form .modal-search {
  display: flex;
  width: 458px;
  height: 58px;
  justify-content: center;
}

.modal .modal-form .modal-search .btn{
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #81B3D2;
  border: none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  color: white;
}

.modal .modal-form .btn:hover{
  background-color: #669ec0;
}

.modal .modal-form .btn:active{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.filter-form {
  background-image: url("../img/filter-background.jpg");
  background-position-y: -55px;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;

  width: 1200px;
  height: 217px;
}

.page-hotels {
  background-image: url("../img/white1.png");
  width: 100%;
  height: 100%;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 31px;
  height: 50px;
}

.infrastruk {
  letter-spacing: 0.4px;
}

.house-type{
  letter-spacing: 0.1px;
}

.form-fieldset-1 label,
.form-fieldset-2 label {
  height: 46px;
}

.form-fieldset-1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 72px;
  margin-top: 23px;
}

.form-fieldset-2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 114px;
  margin-top: 23px;
}

.filter-form label {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.filter-range {
  width: 314px;
  height: 158px;
  margin-top: 26px;
  margin-left: 349px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 11px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  height: 16px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 31px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 80px;
  padding-left: 64px;
}

.price-controls .max-price {
  width: 80px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  -moz-appearance: textfield;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
   transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 82px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: middle;
  margin-right: 13px;
  line-height: 280%;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

}

input[type="checkbox"]:checked + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: middle;
  margin-right: 15px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:disabled + label::before {
  opacity: 0.3
}

input[type="checkbox"] {
  display: none;
}

.sort{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;

  margin-top: 12px;
  padding: 17px 72px 34px;
}

.sort .find{
  font-size: 21px;
  font-style: normal;
  font-weight: bold;
  line-height: 26px;

  margin: 0 auto;
  white-space: nowrap;
}

.sort .by{
  width: 100%;
  display: flex;
  align-items: center;

  margin-left: 50px;
  padding-top: 4px;
}


.sort .by .title{
  font-weight: 800;
  font-size: 12px;
  color: black;

  padding-right: 40px;
  margin: 0;
}

.rating {
  padding-left: 2px;
}

.sort .by a{
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}

.sort .by a:not(.price){
  margin-left: 31px;
}

.price {
  color: #81b3d2;
}

.price:active {
  color: #000000;
}

.type,
.rating {
  color: rgba(0, 0, 0, 0.3);
}

.type:hover,
.rating:hover {
  color: #81b3d2;
}

.type:active,
.rating:active {
  color: #000000;
}

.type {
  border-bottom: 1px dotted #81b3d2;
  width: 50px;
}

.rating {
  border-bottom: 1px dotted #81b3d2;
}

.sort .sort-item-icons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.sort .sort-item-icons button{
  margin-left: 12px;
  border: none;
  width: 11px;
  height: 10px;
  cursor: pointer;
  padding: 0 6px 5px 0;
  background: none;
}

.sort-item-icons .down {
  margin-bottom: 3px;
}

.price,
.type,
.rating {
  line-height: 18px;
}
.sort-item-icons .down path {
  fill: #81b3d2;
}

.sort-item-icons .up path {
  fill: #cacaca;
}

.sort-item-icons .up:hover path {
  fill: #000000;
}

.sort-item-icons .down:hover path {
  fill: #000000;
}

.sort-item-icons .up:active path,
.sort-item-icons .down:active path {
  fill: #81b3d2;
}

.hotel-list {
  margin: 0;
  height: 454px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none; 
}

.hotel-item-1,
.hotel-item-2,
.hotel-item-3 {
  border-bottom: 1px solid #f2f2f2;
  padding: 0 72px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.hotel-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-info {
  width: 182px;
  margin: 0;
  padding-top: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-bottom {
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
}

.hotel-content {
  width: 100%;
  padding-left: 30px;
  padding-top: 19px;

  display: flex;
  flex-direction: column;
}

.hotel-title {
  margin: 0;
  width: auto;
  height: auto;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  letter-spacing: 0.3px;
  text-align: left;
}

.hotel-title:hover {
  color: #81b3d2;
}

.hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-raiting {
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
  padding: 0 12px;
}

.hotel-more {
  height: 27px;
  color: #ffffff;
  background-color: #81b3d2;
  margin-right: 6px;
  padding: 0 17px;
  font-weight: bold;
}

.hotel-booking {
  height: 27px;
  color: #ffffff;
  background-color: #766357;
  padding: 0 17px;
  font-weight: bold;
  margin-right: auto;
}

.hotel-img {
  padding-top: 25px;
}

.hotel-more:hover {
  background-color: #669ec0;
}

.hotel-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-booking:hover {
  background-color: #604e43;
}

.hotel-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  background-image: url("../img/rating-back.jpg");
  width: 90px;
  color: #666666;
  text-align: center;
}

.hotel-stars-1 {
  padding: 0;
  background-image: url("../img/star.svg");
  background-repeat: space;
  width: 89px;
  height: 17px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.hotel-stars-2 {
  padding: 0;
  background-image: url("../img/star.svg");
  background-repeat: space;
  width: 63px;
  height: 17px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.hotel-stars-3 {
  padding: 0;
  background-image: url("../img/star.svg");
  background-repeat: space;
  width: 40px;
  height: 17px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}

.modal .footer-map {
  position: relative;
}

.modal .map-img {
  position: absolute;
  background: url(../img/map.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 593px;
}

.container {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  margin-top: 473px;
  width: 100%;
  height: 120px;

  background: rgba(255,255,255, 0.9);
}

.container > div {
  width: 35%;
}

.first-tag {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: black;
  margin: 0;
  padding-right: 80px;
}

.phone-number {
  height: 20px;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 0;
  padding-top: 10px;
  line-height: 26px;
}

.footer-social ul {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 151px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.footer-catalog-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 151px;

  margin-top: 0;
  padding: 0;
  margin-right: 20px;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.social-button {
  display: flex;
	width: 46px;
  height: 48px;
  background-color: #81b3d2;
  list-style: none;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-web-by {
  font-style: normal;
  font-weight: normal;
  color: black;
  font-size: 14px;
  margin-right: 8px;
}

.catalog-footer-web-by {
  font-style: normal;
  font-weight: normal;
  color: black;
  font-size: 14px;
  margin-right: 5px;
  margin-top: 6px;
}

.footer-link {
  padding-top: 5px;
}

a.social-button-twitter {
  padding-left: 15px;
  padding-top: 14px;
}

a.social-button-facebook {
  padding-left: 17px;
  padding-top: 13px;
}

a.social-button-youtube {
  padding-left: 13px;
  padding-top: 16px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button a:active {
  opacity: 0.3;
}

.footer-logo-academy:hover path {
  fill: #81b3d2;
}

.footer-logo-academy:active path {
  fill: #bdbbbc;
}

.footer-catalog {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.modal-show {
  display: block;

  animation: bounce 0.5s;
}

.modal-error {
  animation: shake 0.5s;

  -webkit-animation: shake 0.5s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}